<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="form" method="POST">
        <h2 style="text-align: center;">Form</h2>
        <div class="mb-3">
                <label for="ExamName" class="form-label">Exam Name</label>
                <input type="text" name="ExamName" id="ExamName" required>
            </div>
        <div>
            <span class="mb-3">
                <label for="SubCode" class="form-label">Subject Code</label>
                <input type="text" name="SubjectCode" id="SubCode" required>
            </span>
            <span class="mb-3">
                <label for="Semester" class="form-label">Semester</label>
                <input type="text" name="" id="Semester" required>
            </span>
            <span class="mb-3">
                <label for='Session' class="form-label">Session</label>
                <select required id="Session">
                    <option>2022-2023</option>
                </select>
            </span>
        </div>
        <div>
            <span class="mb-3">
                <label for="StartDate" class="form-label">Start Date</label>
                <input type="date" name="Date" id="StartDate" required>
            </span>
            <span class="mb-3">
                <label for="StartTime" class="form-label">Start Time</label>
                <input type="time" name="StartTime" id="StartTime" required>
            </span>
            <span class="mb-3">
                <label for="EndTime" class="form-label">End Time</label>
                <input type="time" name="EndTime" id="EndTime" required>
            </span>
        </div>
        <hr>
        <div>
            <span class="mb-3">
                <label for="CorrectMarks" class="form-label">Correct Marks</label>
                <input type="text" min="1" name="" id="CorrectMarks" required>
            </span>
            <span class="mb-3">
                <label for="NegativeMarks" class="form-label">Negative Marks</label>
                <input type="text" name="" max="0" id="NegativeMarks" required>
            </span>
            <span class="mb-3">
                <label for="CorrectAnswer" class="form-label">Correct Option Number</label>
                <input type="text" name="" min="0" max="4" id="CorrectAnswer" required>
            </span>
        </div>
        <div class="mb-3">
            <label for="QuestionValue" class="form-label">Question</label>
            <input type="text" class="form-control" id="QuestionValue" rows="3">
        </div>
        <div class="mb-3">
            <label for="QImage" class="form-label">Question Image</label>
            <input class="form-control" type="file" id="QImage" />
        </div>
        <div class="mb-3">
            <label for="Option1" class="form-label">Option 1</label>
            <textarea class="form-control" id="Option1" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <label for="O1Image" class="form-label">Option 1 Image</label>
            <input class="form-control" type="file" id="O1Image" />
        </div>
        <div class="mb-3">
            <label for="Option2" class="form-label">Option2</label>
            <textarea class="form-control" id="Option2" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <label for="O2Image" class="form-label">Option 2 Image</label>
            <input class="form-control" type="file" id="O2Image" />
        </div>
        <div class="mb-3">
            <label for="Option3" class="form-label">Option 3</label>
            <textarea class="form-control" id="Option3" rows="3" required></textarea>
        </div>
        <div class="mb-3">
            <label for="O3Image" class="form-label">Option 3 Image</label>
            <input class="form-control" type="file" id="O3Image" />
        </div>
        <div class="mb-3">
            <label for="Option4" class="form-label">Option 4</label>
            <textarea class="form-control" id="Option4" rows="3" required></textarea>
        </div>
        <div class="mb-3">
            <label for="O4Image" class="form-label">Option 4 Image</label>
            <input class="form-control" type="file" id="O4Image" />
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
<style>
    .form {
    width: 60%;
    margin: auto;
}
.form-control[type='file'], .form-control[type='file']:focus, .form-control[type='file']:hover{
    border: none;
    outline: none;
}
</style>
</html>